html {
  -webkit-text-size-adjust: none;
}
body {
  background: #f2f2f2;
}
.contain {
  width: 1226px;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
@media all and (max-width: 1226px) {
  header,
  footer,
  .med {
    width: 1226px;
  }
}
.fenye {
  display: flex;
  justify-content: center;
}
.fenye .pagination {
  margin: 0;
}
.fenye .pagination li {
  display: inline-block;
}
.fenye .pagination a {
  width: 48px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0;
  color: #a0a0a0;
  border: none;
  background: none;
  margin: 0 6px;
}
.fenye .pagination .active a {
  background: #626262;
  color: #fff;
}
.fenye .pagination li:hover a {
  background: #a0a0a0;
  color: #fff;
}
.head-top {
  background: #262626;
  color: #b3b3b3;
  font-size: 12px;
  height: 40px;
}
.head-top a {
  color: #b3b3b3;
  font-size: 12px;
}
.head-top a:hover {
  color: #fff;
}
.head-top a:hover span {
  color: #fff;
}
.head-top label {
  display: inline-block;
  height: 14px;
  border-left: 1px solid #4d4d4d;
  margin: 0 8px;
}
.head-top .kefu {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #333;
  color: #fff;
  margin-left: 8px;
}
header {
  position: absolute;
  width: 100%;
  z-index: 60;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.head-body {
  height: 122px;
  margin-top: 20px;
  width: 990px;
}
.head-body .warehouse {
  width: 186px;
}
.head-body .warehouse a {
  color: #82b0d4;
}
.head-body .warehouse .fa {
  color: #e57716;
  font-size: 16px;
}
.head-body .warehouse label {
  margin: 0;
  font-weight: 300;
}
.head-body .search-box {
  width: 706px;
  height: 42px;
  border: 2px solid #e57716;
}
.head-body .search-box input {
  width: 580px;
  height: 38px;
  text-indent: 10px;
  border: none;
}
.head-body .search-box input::-webkit-input-placeholder {
  color: #ccc;
}
.head-body .search-box button {
  width: 120px;
  height: 38px;
  text-align: center;
  color: #fff;
  line-height: 38px;
  background: #e57716;
  border: none;
}
.head-body .nav-head {
  height: 46px;
  margin-top: 20px;
}
.head-body .nav-head .classify {
  width: 234px;
  position: relative;
}
.head-body .nav-head .classify .fa {
  font-size: 20px;
}
.head-body .nav-head .classify .all {
  height: 46px;
  background: #e57716;
  padding: 0 28px;
  color: #fff;
}
.head-body .nav-head .classify .classify-detail {
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 50;
  height: 454px;
}
.head-body .nav-head .classify .classify-detail ul {
  padding-top: 25px;
  height: 454px;
  background: rgba(0, 0, 0, 0.7);
  width: 234px;
  overflow: auto;
}
.head-body .nav-head .classify .classify-detail ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 28px;
  height: 46px;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list {
  position: absolute;
  top: 0;
  left: 234px;
  display: none;
  width: 702px;
  height: 454px;
  background: #fff;
  padding: 30px;
  border: 1px solid #d9d9d9;
  overflow: auto;
  z-index: 50;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list button {
  width: 80px;
  height: 28px;
  background: #f2f2f2;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  float: left;
  color: #3e3e3e;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list p {
  float: left;
  width: 560px;
  margin-top: 3px;
  margin-bottom: 14px;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list a {
  display: inline-block;
  width: 90px;
  border-right: 1px solid #d5d5d5;
  text-align: center;
  color: #333;
  margin-top: 3px;
  margin-bottom: 18px;
  font-size: 12px;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list a:nth-child(6n),
.head-body .nav-head .classify .classify-detail ul li .expand-list a:last-child {
  border-right: none;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list .active {
  color: #e98d4c;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list div:after {
  content: '';
  display: block;
  clear: both;
}
.head-body .nav-head .classify .classify-detail ul li .expand-list::-webkit-scrollbar {
  display: none;
}
.head-body .nav-head .classify .classify-detail ul li:hover {
  background: #5e5e5e;
}
.head-body .nav-head .classify .classify-detail ul li:hover .expand-list {
  display: block;
}
.head-body .nav-head .classify .classify-detail ul::-webkit-scrollbar {
  display: none;
}
.head-body .nav-head .classify-hide .classify-detail {
  display: none;
}
.head-body .nav-head .classify-hide:hover .classify-detail {
  display: block;
}
.head-body .nav-head .nav-box {
  width: 500px;
  margin-left: 46px;
  height: 46px;
}
.head-body .nav-head .nav-box a {
  color: #262626;
}
.head-qrcode {
  width: 98px;
  height: 114px;
  border: 1px solid #eaeaea;
  text-align: center;
  color: #e57716;
}
.head-qrcode h5 {
  margin: 6px 0 3px 0;
}
.choose-warehouse {
  width: 560px;
  height: 400px;
  padding: 40px;
}
.choose-warehouse .close {
  font-size: 40px;
  font-weight: 100;
}
.choose-warehouse ul {
  height: 200px;
  overflow: auto;
}
.choose-warehouse ul li {
  display: inline-block;
  width: 80px;
  height: 28px;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  margin: 10px 16px 10px 0;
  cursor: pointer;
}
.choose-warehouse ul li:nth-child(5n) {
  margin-right: 0;
}
.choose-warehouse ul .active {
  color: #e98d4c;
  border: 1px solid #e98d4c;
}
.choose-warehouse .ware-btn {
  display: flex;
  justify-content: center;
}
.choose-warehouse .ware-btn button {
  width: 140px;
  height: 42px;
  border: 1px solid #e67816;
  margin: 0 5px;
}
.choose-warehouse .ware-btn button:nth-child(1) {
  background: #e67816;
  color: #fff;
}
.choose-warehouse .ware-btn button:nth-child(2) {
  background: #fffce9;
  color: #e67816;
}
footer .foot {
  background: #fff;
  padding: 46px 0;
  height: 300px;
}
footer .contain .foot-box {
  height: 200px;
  width: 30%;
  text-align: center;
}
footer .contain .foot-box h5 {
  margin: 20px 0;
}
footer .contain .foot-box h6 {
  font-size: 12px;
  margin-bottom: 40px;
}
footer .contain .foot-box h1 {
  margin: 26px 0 18px 0;
  font-size: 26px;
}
footer .contain .foot-box p {
  text-align: left;
  line-height: 30px;
  margin: 0 30px;
  font-size: 12px;
}
footer .contain .foot-box .foot-btn {
  width: 220px;
  margin: 0 auto;
}
footer .contain .foot-box .foot-btn button {
  width: 100px;
  height: 26px;
  background: #fff;
  border: 1px solid #333;
  color: #494949;
  border-radius: 2px;
}
footer .contain hr {
  height: 200px;
  width: 0;
  border-left: 1px solid #ccc;
  margin: 0;
}
footer .copy-right {
  text-align: center;
  background: #262626;
  color: #acacac;
  line-height: 40px;
}
.carousel .carousel-inner .item {
  height: 454px;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel .carousel-inner .item a {
  display: block;
  height: 454px;
}
.carousel .carousel-indicators {
  bottom: 4px;
}
.carousel .carousel-indicators li {
  border: 2px solid #9d9da9;
  background: #fff;
  margin: 0 5px;
  height: 12px;
  width: 12px;
}
.carousel .carousel-indicators .active {
  border: 2px solid #e47b1f;
}
.boutique {
  margin: 30px auto 40px auto;
}
.boutique figure {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.boutique figure img {
  width: 292px;
  height: 170px;
}
.boutique figure p {
  position: absolute;
  top: 8px;
  left: -32px;
  line-height: 20px;
  color: #fff;
  width: 100px;
  text-align: center;
  transform: rotate(-45deg);
}
.boutique figure .green {
  background: #72bb3d;
}
.boutique figure .red {
  background: #dc2229;
}
.boutique figure figcaption {
  padding: 10px;
}
.boutique figure figcaption h5 {
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}
.boutique figure figcaption h6 {
  margin: 0;
  color: #999;
}
.board .title {
  height: 40px;
}
.board .title img {
  margin-right: 10px;
}
.board .title a {
  margin-right: 16px;
  color: #484848;
}
.board .brand-body {
  padding-bottom: 20px;
}
.board .brand-body table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.board .brand-body table th {
  text-align: center;
  border: none;
  line-height: 45px;
  padding: 0;
}
.board .brand-body table thead {
  color: #fff;
}
.board .brand-body table thead tr {
  background: #e57716;
}
.board .brand-body table tbody tr:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.board .brand-body table tr {
  height: 45px;
  background: #fff;
}
.board .brand-body table td {
  line-height: 28px;
  border: none;
  padding: 8px 0;
}
.board .brand-body table td:nth-child(9) {
  display: flex;
  justify-content: center;
  width: 120px;
}
.board .brand-body table .add-cart {
  padding: 0 10px;
  color: #e57716;
  border: 1px solid #e57716;
  background: #fffce9;
}
.board .brand-body table .add-cart:hover {
  color: #fff;
  background: #e57716;
}
.board .brand-body .price {
  color: #e57716;
}
.minus,
.plus {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  background: #f5f5f5;
  border: none;
  font-size: 24px;
  color: #999;
}
.minus:hover,
.plus:hover {
  background: #fbfbfb;
}
.num {
  float: left;
  display: inline-block;
  width: 40px;
  height: 32px;
  margin: 0;
  text-align: center;
  color: #999;
  background: #f5f5f5;
  border: none;
  margin: 0 2px;
}
.filter {
  background: #fff;
  padding: 0 18px;
  margin: 20px auto 10px auto;
}
.filter .flex {
  padding: 5px 0;
  line-height: 40px;
  border-top: 1px dashed #e8e8e8;
  align-items: flex-start;
}
.filter .flex .tit {
  width: 60px;
  padding-left: 15px;
  color: #999;
}
.filter .flex .filter-list {
  width: 1012px;
  overflow: hidden;
  height: 40px;
}
.filter .flex .filter-list a {
  display: inline-block;
  margin: 0 14px;
  color: #4d4d4d;
}
.filter .flex .filter-list .active {
  color: #e78335;
}
.filter .flex .more {
  background: transparent;
  border: none;
  cursor: pointer;
}
.filter .flex .more label {
  font-weight: 300;
  margin: 0;
  padding-right: 8px;
  line-height: 20px;
}
.filter .flex:first-child {
  border-top: none;
}
.more-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  height: 50px;
  padding-left: 30px;
  margin-bottom: 10px;
}
.more-select .tit {
  color: #999;
  width: 95px;
}
.more-select .select-box {
  width: 276px;
}
.more-select .select-box span {
  color: #4d4d4d;
}
.more-select .select-box select {
  width: 160px;
  height: 28px;
}
.store-sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.store-sort .tit {
  color: #999;
  width: 95px;
}
.store-sort .sort {
  margin-right: 40px;
  cursor: pointer;
}
.detail {
  background: #fff;
  padding: 30px 50px 30px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.detail img {
  width: 388px;
  height: 388px;
}
.detail .detail-content {
  width: 700px;
  height: 388px;
}
.detail .detail-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 900;
}
.detail .detail-content .details {
  background: #fffce9;
  border-top: 1px dashed #dcd9c9;
  border-bottom: 1px dashed #dcd9c9;
  margin: 40px 0;
  padding: 24px 12px;
}
.detail .detail-content .details span {
  display: inline-block;
  width: 86px;
  color: #494949;
}
.detail .detail-content .details label {
  font-size: 24px;
  color: #e57716;
}
.detail .detail-content .details div {
  display: flex;
}
.detail .detail-content .details td {
  width: 200px;
  height: 24px;
}
.detail .detail-content .add-buy {
  margin-top: 40px;
  width: 356px;
}
.detail .detail-content .add-buy button {
  width: 168px;
  height: 50px;
  border: 1px solid #e57716;
  background: #fff;
  color: #e57716;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 900;
}
.detail .detail-content .add-buy button:first-child {
  background: #fffce9;
}
.detail-show {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.detail-show .detail-left {
  width: 886px;
  background: #fff;
}
.detail-show .detail-left ul {
  border-bottom: 2px solid #f2f2f2;
  margin: 0;
  font-size: 0;
}
.detail-show .detail-left ul li {
  display: inline-block;
  font-size: 14px;
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  border-right: 2px solid #f2f2f2;
  border-top: 3px solid transparent;
  color: #262626;
  cursor: pointer;
}
.detail-show .detail-left ul .active {
  border-top: 3px solid #e57716;
}
.detail-show .detail-left .left-content {
  padding: 30px;
}
.detail-show .detail-left .left-content div {
  display: none;
}
.detail-show .detail-left .left-content img {
  width: 100%;
}
.detail-show .detail-right {
  width: 300px;
  background: #fff;
  text-align: center;
}
.detail-show .detail-right h5 {
  height: 50px;
  margin: 0;
  line-height: 45px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 3px solid #e57716;
}
.detail-show .detail-right figure {
  margin: 25px 25px 0 25px;
  border-bottom: 1px solid #e2e2e2;
}
.detail-show .detail-right figure img {
  width: 250px;
  height: 250px;
}
.detail-show .detail-right figure figcaption {
  padding: 18px 0;
}
.detail-show .detail-right figure figcaption p {
  margin: 0;
}
.detail-show .detail-right figure figcaption span {
  color: #e78335;
}
.detail-show .detail-right figure:last-child {
  border-bottom: none;
}
.people {
  width: 180px;
  background: #fff;
  text-align: center;
  padding: 40px 20px;
  margin: 20px 0;
}
.people img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}
.people h6 {
  width: 72px;
  height: 18px;
  border: 1px solid #e57716;
  color: #e57716;
  border-radius: 2px;
  background: #fffce9;
  line-height: 16px;
  margin: 10px auto;
}
.people button {
  margin: 10px 0 30px 0;
  width: 96px;
  height: 28px;
  border: 1px solid #c1c1c1;
  background: #f2f2f2;
  border-radius: 2px;
}
.people div {
  background: #fffce9;
  border-top: 1px dashed #c8c8c8;
  border-bottom: 1px dashed #c8c8c8;
  padding-top: 5px;
  margin-bottom: 20px;
}
.people div span {
  color: #e67816;
}
.people div p {
  color: #5d5c57;
  margin-bottom: 5px;
}
.people div hr {
  border: none;
  border-bottom: 1px dashed #c8c8c8;
  margin: 0;
  margin-bottom: 5px;
}
.people ul {
  margin-bottom: 40px;
}
.people ul li a {
  line-height: 34px;
  color: #262626;
}
.people ul .active a {
  color: #e57716;
}
.myorder {
  width: 1006px;
  background: #fff;
  margin: 20px 0;
  padding-bottom: 50px;
}
.myorder .tab {
  border-bottom: 2px solid #f2f2f2;
  margin: 0;
  font-size: 0;
}
.myorder .tab li {
  display: inline-block;
  width: 170px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
  border-right: 2px solid #f2f2f2;
  border-top: 3px solid transparent;
  color: #262626;
  cursor: pointer;
}
.myorder .tab .active {
  border-top: 3px solid #e57716;
}
.myorder .orders {
  padding: 0 30px 30px 30px;
}
.myorder .orders .order-list {
  border: 1px solid #ccc;
  padding: 30px 0 10px 0;
  margin-top: 30px;
}
.myorder .orders .order-list h4 {
  margin: 0 30px;
  font-size: 18px;
}
.myorder .orders .order-list .flex {
  margin: 0 30px;
}
.myorder .orders .order-list hr {
  border: none;
  border-top: 1px dashed #ccc;
}
.myorder .orders .order-list span {
  font-size: 12px;
  color: #666;
}
.myorder .orders .order-list span label {
  font-size: 26px;
  margin: 0;
}
.myorder .orders .order-list figure {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.myorder .orders .order-list figure img {
  width: 80px;
  height: 80px;
}
.myorder .orders .order-list figure figcaption {
  margin-left: 20px;
}
.myorder .orders .order-list a {
  display: block;
  width: 120px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  color: #4d4d4d;
  border: 1px solid #a0a0a0;
  margin-bottom: 10px;
}
.myorder .orders .order-list .pay {
  color: #e98d46;
  border: 1px solid #f9ae25;
  background: #fffce9;
}
.order-detail {
  margin: 20px 0;
  padding: 50px;
  background: #fff;
  width: 1006px;
}
.order-detail h2 {
  font-size: 30px;
  margin-top: 0;
}
.order-detail button {
  width: 120px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #f9ae25;
  color: #e57716;
  background: #fffce9;
}
.order-detail h3 {
  font-size: 18px;
  margin: 30px 0;
}
.order-detail img {
  width: 80px;
  height: 80px;
}
.order-detail h5 {
  margin: 0 0 0 20px;
  width: 380px;
}
.order-detail ul {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.order-detail ul li {
  line-height: 30px;
}
.order-detail ul li span {
  display: inline-block;
  width: 100px;
}
.order-detail h4 {
  font-size: 18px;
  margin: 0;
}
.order-detail .total {
  text-align: right;
}
.order-detail .total span {
  color: #e57716;
  display: inline-block;
  width: 160px;
}
.shopping-cart {
  padding: 50px;
  width: 1006px;
  margin: 20px 0;
  background: #fff;
}
.shopping-cart h2 {
  font-size: 32px;
  margin: 0;
}
.shopping-cart .clear-cart {
  width: 120px;
  height: 30px;
  border: 1px solid #f9ae25;
  color: #e57716;
  background: #fffce9;
}
.shopping-cart table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  text-align: center;
}
.shopping-cart thead {
  background: #f5f5f5;
}
.shopping-cart thead th {
  text-align: center;
}
.shopping-cart tr {
  border: 1px solid #ccc;
}
.shopping-cart td,
.shopping-cart th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.shopping-cart td:first-child,
.shopping-cart th:first-child {
  border-left: 1px solid #ccc;
  text-align: right;
  width: 50px;
}
.shopping-cart td:last-child,
.shopping-cart th:last-child {
  border-right: 1px solid #ccc;
}
.shopping-cart td:nth-child(2),
.shopping-cart th:nth-child(2) {
  text-align: left;
  padding: 20px 0;
  width: 100px;
}
.shopping-cart td:nth-child(3),
.shopping-cart th:nth-child(3) {
  text-align: left;
  width: 150px;
}
.shopping-cart td:nth-child(5),
.shopping-cart th:nth-child(5) {
  width: 150px;
}
.shopping-cart .total {
  height: 66px;
  background: #f5f5f5;
  border: 1px solid #ccc;
}
.shopping-cart .total a {
  display: block;
  width: 200px;
  color: #333;
}
.shopping-cart .total span {
  color: #999;
  display: block;
  margin-right: 12px;
}
.shopping-cart .total label {
  font-size: 20px;
  color: #e57716;
}
.shopping-cart .total button {
  width: 140px;
  height: 66px;
  background: #e57716;
  border: none;
  color: #fff;
  margin-right: -1px;
  margin-left: 10px;
}
.receipt-info {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.receipt-info h4 {
  font-size: 16px;
  margin: 0;
  padding: 18px 40px;
  border-bottom: 1px solid #ccc;
}
.receipt-info .settlement-address {
  width: 194px;
  padding: 36px 0 20px 40px;
}
.receipt-info .settlement-address button {
  width: 60px;
  height: 30px;
  border: 1px solid #f9ae25;
  color: #e57716;
  background: #fffce9;
  border-radius: 2px;
}
.receipt-info ul {
  padding-left: 40px;
  padding-bottom: 30px;
}
.receipt-info ul li {
  line-height: 34px;
}
.receipt-info ul li span {
  color: #808080;
}
.goods-info {
  background: #fff;
  margin-bottom: 40px;
}
.goods-info table {
  width: 100%;
}
.goods-info table th {
  border-bottom: 1px solid #ccc;
  height: 50px;
  text-align: center;
}
.goods-info table td {
  text-align: center;
}
.goods-info table th:nth-child(1),
.goods-info table td:nth-child(1) {
  width: 150px;
  padding: 10px 0;
}
.goods-info table th:nth-child(2),
.goods-info table td:nth-child(2) {
  width: 360px;
  text-align: left;
}
.goods-info .total {
  border-top: 1px solid #ccc;
  text-align: right;
  padding: 30px 40px;
}
.goods-info .total button {
  width: 170px;
  height: 48px;
  background: #e57716;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 30px 0 10px;
}
.goods-info .total p span {
  display: inline-block;
  width: 160px;
  color: #e57716;
}
.pay {
  margin: 20px auto 40px auto;
  background: #fff;
  border-bottom: 1px solid transparent;
}
.pay .choose-tit {
  height: 50px;
  padding: 0 40px;
  border-bottom: 1px solid #ccc;
}
.pay .choose-tit span {
  color: #e57716;
}
.pay p {
  text-align: center;
  width: 696px;
  margin: 40px auto;
  background: #fffce9;
  color: #e57716;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  height: 60px;
  line-height: 60px;
}
.pay .pay-choose {
  margin: 0 auto;
  width: 400px;
}
.pay .pay-choose .flex {
  width: 250px;
}
.pay .pay-choose input {
  display: none;
}
.pay .pay-choose span {
  display: block;
  width: 130px;
}
.pay button {
  width: 168px;
  height: 50px;
  background: #e57716;
  border: none;
  display: block;
  margin: 80px auto 60px auto;
  border-radius: 4px;
  color: #fff;
}
.people-box {
  margin: 20px 0 40px 0;
  padding: 56px 50px 135px 50px;
  background: #fff;
  width: 1006px;
}
.people-box h3 {
  font-size: 30px;
  padding-bottom: 30px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.people-box .people-form {
  padding: 10px 0 20px 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 30px;
}
.people-box .people-form li {
  display: flex;
  align-items: center;
  height: 60px;
}
.people-box .people-form li span {
  display: block;
  width: 110px;
}
.people-box .people-form li input {
  width: 278px;
  height: 35px;
  text-indent: 5px;
  border: 1px solid #ddd;
}
.people-box .people-form li input::-webkit-input-placeholder {
  color: #ccc;
}
.people-box .people-form li .getCheck {
  width: 120px;
  height: 35px;
  padding: 0;
  border: 1px solid #e57716;
  color: #e78231;
  background: #fffce9;
  margin-left: 10px;
}
.people-box .save {
  width: 146px;
  height: 42px;
  margin-left: 110px;
  background: #e57716;
  color: #fff;
  border: 1px solid #ccc;
}
.activity a {
  display: inline-block;
  width: 601px;
  margin: 20px 20px 0 0;
  border-radius: 5px;
  background: #fff;
}
.activity a img {
  width: 601px;
  height: 305px;
}
.activity a figcaption {
  padding: 20px 0 10px 30px;
}
.activity a figcaption h5 {
  color: #333;
}
.activity a figcaption p {
  color: #999;
}
.activity a figcaption span {
  display: block;
  height: 30px;
  line-height: 30px;
  background: url(../images/act1.png);
  padding: 0 5px 0 15px;
  color: #fff;
  font-size: 12px;
  background-size: cover;
}
.activity a:nth-child(2n) {
  margin-right: 0;
}
.activity-detail {
  margin: 20px auto 40px auto;
  background: #fff;
}
.activity-detail .flex {
  padding-left: 30px;
  height: 130px;
  border-bottom: 4px solid #f2f2f2;
}
.activity-detail .flex label {
  color: #999;
  font-size: 12px;
  font-weight: 300;
}
.activity-detail .flex span {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px 0 15px;
  color: #fff;
  font-size: 12px;
  background-size: cover;
}
.activity-detail .content {
  width: 820px;
  margin: 40px auto 0 auto;
  padding-bottom: 120px;
}
.activity-detail .content img {
  width: 100%;
}
.activity-detail .content p {
  line-height: 32px;
}
.help-left {
  background: #fff;
  width: 180px;
  padding: 0 30px;
  text-align: center;
  margin: 20px 0 40px 0;
}
.help-left a {
  line-height: 42px;
  color: #000;
  font-size: 14px;
  display: block;
}
.help-left .left-box {
  height: 42px;
  overflow: hidden;
}
.help-left .left-box h5 {
  width: 112px;
  line-height: 42px;
  margin: 0;
  cursor: pointer;
}
.help-left .left-box span {
  color: #9d9d9d;
  font-size: 20px;
}
.help-left .left-box ul {
  margin: 0;
}
.help-left .left-box ul li a {
  line-height: 42px;
  color: #9d9d9d;
  font-size: 12px;
}
.help-left .left-box ul li .active {
  color: #e57716;
}
.help-left .active {
  color: #e57716;
}
.help-right {
  margin: 20px 0 40px 0;
  width: 1006px;
  padding: 0 50px 50px 50px;
  background: #fff;
}
.help-right h4 {
  margin: 0;
  font-size: 20px;
  line-height: 76px;
  border-bottom: 1px dashed #ccc;
}
.help-right div h5 {
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 26px;
  color: #262626;
}
.help-right div p {
  line-height: 24px;
  color: #666;
}
.customize {
  padding-bottom: 60px;
}
.customize h3 p {
  font-size: 12px;
  margin-top: 30px;
  color: #e88335;
}
.customize .flexs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customize .flexs span {
  display: block;
  width: 110px;
}
.customize .customize-classify {
  height: 94px;
  border-bottom: 1px solid #ccc;
}
.customize .customize-classify .checkbox-circle {
  margin: 0;
  width: 112px;
}
.customize .customize-list {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.customize .customize-list h4 {
  margin: 40px 0 16px 0;
  font-size: 18px;
}
.customize .customize-list h4 a {
  display: inline-block;
  width: 62px;
  height: 30px;
  color: #e57716;
  background: #fffce9;
  border: 1px solid #fabc48;
  border-radius: 2px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-left: 40px;
}
.customize .customize-list ul {
  margin: 0;
}
.customize .customize-list ul li {
  display: flex;
  align-items: center;
  height: 58px;
}
.customize .customize-list ul li span {
  display: block;
  width: 112px;
}
.customize .customize-list ul li select,
.customize .customize-list ul li input {
  width: 280px;
  height: 36px;
  border: 1px solid #ddd;
}
.customize .customize-list ul li select {
  color: #ccc;
}
.customize .customize-list ul li input {
  text-indent: 5px;
}
.customize .customize-list ul li input::-webkit-input-placeholder,
.customize .customize-list ul li textarea::-webkit-input-placeholder {
  color: #ccc;
}
.customize .customize-list ul li textarea {
  width: 280px;
  height: 100px;
  border: 1px solid #ddd;
  text-indent: 5px;
}
.customize .customize-list ul .color-input input {
  background: #fff;
}
.customize table td:first-child {
  width: 112px;
  line-height: 36px;
}
.customize .upload {
  display: flex;
  margin: 50px 0 40px 0;
}
.customize .upload span {
  display: block;
  width: 112px;
}
.customize .upload input {
  display: none;
}
.customize .upload label {
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  color: #ccc;
  border: 2px dashed #ccc;
  cursor: pointer;
}
.customize .other {
  display: none;
}
.customize .other textarea {
  width: 508px;
  height: 130px;
  margin-bottom: 28px;
  margin-top: 10px;
  border: 1px solid #ddd;
  text-indent: 5px;
}
.customize .other textarea::-webkit-input-placeholder {
  color: #ccc;
}
.choose-color {
  width: 696px;
  height: 724px;
  padding: 30px 40px;
}
.choose-color .flex span {
  font-size: 50px;
  font-weight: 100;
  color: #cecece;
  cursor: pointer;
}
.choose-color img {
  width: 80px;
  height: 80px;
}
.choose-color .kuang {
  display: none;
}
.choose-color ul {
  width: 620px;
  height: 500px;
  overflow: auto;
}
.choose-color ul li {
  display: inline-block;
  margin-right: 24px;
}
.choose-color ul li p {
  font-size: 12px;
  text-align: center;
  color: #666;
  margin: 8px 0 28px 0;
}
.choose-color ul li:nth-child(6n) {
  margin-right: 0;
}
.choose-color ul .active div {
  position: relative;
}
.choose-color ul .active div .kuang {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.choose-color ul::-webkit-scrollbar {
  display: none;
}
.choose-color button {
  width: 140px;
  height: 42px;
  background: #e67816;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #e67816;
}
.choose-color .cancel {
  color: #e67816;
  background: #fffce9;
}
.mycustomize {
  padding-bottom: 60px;
}
.mycustomize .customize-list {
  border: 1px solid #ccc;
  margin-top: 30px;
}
.mycustomize .customize-list .customize-head {
  height: 80px;
  padding: 0 30px;
  border-bottom: 1px dashed #ccc;
}
.mycustomize .customize-list .customize-head h4 {
  color: #fc6868;
  font-size: 20px;
}
.mycustomize .customize-list .customize-head p {
  margin: 0;
}
.mycustomize .customize-list .content {
  padding: 30px;
}
.mycustomize .customize-list .content h6 {
  font-size: 14px;
  width: 700px;
}
.mycustomize .customize-list .content h5 {
  font-size: 20px;
  margin: 20px 0;
}
.mycustomize table {
  width: 100%;
}
.mycustomize table td {
  color: #5d5d5d;
  line-height: 30px;
  width: 110px;
}
.mycustomize table td:nth-child(2n) {
  color: #a9a9a9;
  width: 170px;
}
.mycustomize ul li {
  line-height: 30px;
  color: #808080;
}
.mycustomize ul li span {
  display: inline-block;
  width: 110px;
}
.login-bannar {
  width: 100%;
  position: relative;
  height: 500px;
  background: url(../images/login_03.jpg) no-repeat;
  background-position: center;
}
.login-bannar .contain {
  position: relative;
}
.login-bannar .login-submit {
  width: 385px;
  padding: 42px;
  background: #fff;
  border: 1px solid #c1c1c1;
  position: absolute;
  top: 70px;
  right: 0;
}
.login-bannar .login-submit .go-back {
  position: absolute;
  top: 10px;
  right: 10px;
}
.login-bannar .login-submit h2 {
  margin-top: 0;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 30px;
}
.login-bannar .login-submit .ret-title {
  margin-bottom: 20px;
}
.login-bannar .login-submit label {
  height: 36px;
  width: 100%;
  border: 1px solid #e2e2e2;
  margin: 20px 0;
  border-radius: 2px;
}
.login-bannar .login-submit label span {
  font-size: 20px;
  color: #c1c1c1;
  display: block;
  width: 34px;
  text-align: center;
  border-right: 1px solid #e2e2e2;
}
.login-bannar .login-submit label input {
  width: 250px;
  border: none;
}
.login-bannar .login-submit label ::-webkit-input-placeholder {
  color: #c1c1c1;
  font-size: 15px;
  font-weight: 300;
}
.login-bannar .login-submit .code-box {
  border: none;
}
.login-bannar .login-submit .code-box .code {
  width: 170px;
}
.login-bannar .login-submit .code-box .code input {
  width: 118px;
}
.login-bannar .login-submit .code-box button {
  width: 118px;
  height: 36px;
  display: block;
  color: #e57716;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  background: #fffce9;
  border: 1px solid #e57716;
}
.login-bannar .login-submit .sub {
  width: 100%;
  height: 48px;
  background-color: #e57716;
  border: none;
  font-size: 17px;
  color: #fff;
  margin: 20px 0;
  border-radius: 2px;
}
.login-bannar .login-submit .ret-sub {
  margin-bottom: 10px;
}
.login-bannar .login-submit .forget a {
  color: #808080;
  font-size: 13px;
}
.login-bannar .login-submit .ret-lable {
  margin: 12px 0;
}
.login-bannar .ret-passbox {
  top: 36px;
}
.login-bannar .pass-ok {
  text-align: center;
  padding-top: 58px;
}
.login-bannar .pass-ok p:nth-child(2) {
  color: #4f4f4f;
  font-size: 12px;
  margin-top: 20px;
}
.login-bannar .pass-ok a {
  width: 100px;
  height: 30px;
  display: block;
  color: #e57716;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  background: #fffce9;
  border: 1px solid #e57716;
  margin: 56px auto 46px auto;
}
.login-bannar .pass-ok p:nth-child(4) {
  color: #6f6f6f;
}
.login-bannar .pass-ok p:nth-child(4) span {
  color: #e57716;
}
.res {
  width: 1000px;
  margin: 30px auto;
}
.res .res-title {
  margin-bottom: 40px;
}
.res .res-title h2 {
  font-size: 24px;
  font-weight: 700;
}
.res .res-title a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.res .res-title a span {
  color: #e57716;
}
.res form {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 62px 0 64px 270px;
  box-shadow: 0px 4px 15px #ccc;
}
.res form label {
  height: 47px;
  width: 424px;
  font-size: 15px;
  margin: 25px 0;
}
.res form label span {
  display: block;
  text-align: right;
  width: 96px;
}
.res form label input {
  width: 320px;
  height: 47px;
  border: 1px solid #cccccc;
  text-indent: 1em;
}
.res form label ::-webkit-input-placeholder {
  color: #c1c1c1;
  font-size: 15px;
  font-weight: 300;
}
.res form p {
  font-size: 13px;
  padding-left: 104px;
  color: #878787;
}
.res form .res-tel {
  margin-bottom: 10px;
}
.res form .sms input {
  width: 190px;
}
.res form .sms button {
  width: 118px;
  height: 47px;
  display: block;
  color: #e57716;
  text-align: center;
  line-height: 47px;
  text-decoration: none;
  background: #fffce9;
  border: 1px solid #e57716;
}
.res form .res-sub {
  margin-top: 10px;
}
.res form .res-sub input {
  background-color: #e57716;
  border: none;
  font-size: 16px;
  color: #fff;
}
